<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Portal da transparecia</h2>
            <h4>example@email.com</h4>
        </div>
        <img src="https://live.staticflickr.com/6001/6003126041_5b48e6c066.jpg" alt="Secretaria de Segurança Publica">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Paginas</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Inicio</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/mapa">Mapa</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/detalhes">Detalhes</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Informações</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
      Contatos
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Telefones uteis
    </a>

</mat-nav-list>