:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-drawer {
  width: 1fr;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  padding: 20px;
}

@media (max-width: 1150px)
{
  mat-drawer {
    width: 200px;
  }
}